/* General styling */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 10px;
    height: 500px;
    width: 500px;
    margin: 0;
}

body {
    margin: 0 auto;
    padding: 0;
    height: inherit;
    width: inherit;
    background-image: linear-gradient(180deg, #fafafe, #fafafe);
}

.outer-wrapper {
    overflow: auto;
    width: 100%;
    /*background: rgb(240, 240, 240);*/
    background-image: linear-gradient(180deg, #fafafe, #fafafe);

}

.clearfix {
    clear: both;
}

/* form control styling */

input, textarea, button {
    border: 1px solid rgb(218, 218, 218);
    padding: 4px;
    background: white;
    border-radius: 3px;
}

.btn {
    background-image: linear-gradient(180deg, #5347c2, #5347c2);
    color: #fff !important;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
    border-color: #5347c2;
}

.btn:hover {
    color: #404040 !important;
    font-weight: 100 !important;
    letter-spacing: 1px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
    margin: 5px 0px;
}

button:active {
    /*box-shadow: inset -2px -2px 1px rgba(0,0,0,0.05);*/
}

input, textarea {
    font-family: sans-serif;
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.10);
}

/* Typography */

h2 {
    font-size: 1.3rem;
}

p, input, textarea {
    font-size: 1.2rem;
    line-height: 1.5;
}

/* New notes entry box */

.new-note {
    width: 100%;
}

.content-container {
    background-color: #ffffff;
    width: 100%;
    /*margin: 10px 0px;*/
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(168, 167, 187, .3);
    background-image: linear-gradient(180deg, #fff, #fff);
}

input {
    width: 100%;
    margin-bottom: 2px;
}

textarea {
    width: 100%;
    margin-bottom: 4px;
    resize: none;
}

.clear {
    float: left;
}

.add {
    float: right;
}

/* Notes display box(es) */

.note {
    padding: 2px;
}

.delete {
    float: right;
}

p {
    margin: 0;
}

.cancel {
    float: left;
}

.update {
    float: right;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 80px;
}

#main {
    transition: margin-left .5s;
    padding: 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

header {
    display: inline-block;
    width: 100%;
    background-image: linear-gradient(180deg, #191934, #191934);
    padding: 10px;
}

header button {
    float: left;
}

header h1 {
    padding: 10px;
    float: left;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 0;
    color: white;
}

.collapsible {
    background-color: #ddd;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 5px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 10px 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content div {
    font-size: medium;
    padding: 10px;
}

.slides {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.slide {
    padding: 15px;
    background-color: #2F2F2F;
    margin: 0 0 5px;
    color: #FFF;
    border: 2px solid #444;
}


.slide-placeholder {
    background: #DADADA;
    position: relative;
}

.slide-placeholder:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15px;
    background-color: #FFF;
}

input[type=checkbox] {
    width: auto;
    transform: scale(1.5);
    padding: 10px;
}

.checkbox-text {
    padding: 10px;
    display: inline;
    font-size: large;
}

.fas {
    color: #dabdff;
}

#nav-button {
    /*background-image: linear-gradient(180deg,#fafafe,#fafafe);*/
}